body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(243, 243, 243);
}

.br-left {
    margin-left: 20px; /* Adjust the left margin to control the line break position */
}

.nav {
    background-color: #ffffff; /* Dark background */
    height: 66px;
    width: 100%;
    line-height: 66px; /* Adjusted for consistent height */
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow for depth */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: left;
    width: 210px;
    text-align: center;
    font-weight:bolder;
    position: auto; /* Center the navigation items */
}

.nav li {
    margin: 0 20px; /* Spacing between nav items */
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 0px 50px; /* Padding for clickable area */
}

.nav a:hover {
    color:  #d8d8d8;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-top: 66px;
    padding: 20px;
}

.sidebar, .sidebar-start-button {
    /* This aligns the sidebar titles with the content */
    padding: 20px;
    padding-left: 30%;
    /* background-color: #f8f8f8; */
    height: fit-content;
}

.textp {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    margin: 0;
    padding: 20px;
    padding-right: 15%;
    /* background-color: #ffffff; */
}

.fullscreen-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Container holding the image and text */
.container {
    position: relative;
    width: 100%;
    margin-top: 66px; /* Offset for the fixed navbar */
}

/* Full-screen background image */
.fullscreen-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.textp h1, .textp h2, .textp h3, .textp h4 {
    font-weight: 1000; /* Slightly bolder than normal text for headings */
    color: #000; /* Headings might be a pure black for emphasis */
    margin-bottom: 10px; /* Add some space below headings */
}


button {
    border: #ffffff 2px solid;
    background-color: #000001;
    padding: 15px 40px;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    display: block; /* Center the button */
    margin: 2rem auto; /* Reduced space and centered the button */
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none; /* Removes underlines from all links */
}

/* Specifically for links wrapping buttons, to override any other styles */
a:link, a:visited, a:hover, a:active {
    text-decoration: none; /* Ensures no underline appears at any state */
}


footer p {
    text-align: center;
    padding: 4rem 0; /* Space at the bottom of the footer */
    padding-top: 50rem;
}

