body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(243, 243, 243);
}

.nav {
    background-color: #ffffff; /* Dark background */
    height: 66px;
    width: 100%;
    line-height: 66px; /* Adjusted for consistent height */
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow for depth */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: left;
    width: 210px;
    text-align: center;
    font-weight:bolder;
    position: auto; /* Center the navigation items */
}

.nav li {
    margin: 0 20px; /* Spacing between nav items */
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 0px 50px; /* Padding for clickable area */
}

.nav a:hover {
    color:  #d8d8d8;
    font-weight: bold;
}

/* Container holding the image and text */
.container {
    position: relative;
    width: 100%;
    margin-top: 66px; /* Offset for the fixed navbar */
}

/* Full-screen background image */
.fullscreen-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Text paragraphs */
.textp {
    font-size: 1.5rem;
    margin: 5rem 15%; /* Reduced top and bottom margins */
    line-height: 2rem; /* Adjusted for less space between lines */
}

button {
    border: #ffffff 2px solid;
    background-color: #000001;
    padding: 15px 40px;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    display: block; /* Center the button */
    margin: 2rem auto; /* Reduced space and centered the button */
    font-family: 'Montserrat', sans-serif;
}

footer p {
    text-align: center;
    padding: 4rem 0; /* Space at the bottom of the footer */
    padding-top: 50rem;
}
